.pagination {
    margin: 0 0 0 0;
}

.pagediv{
    text-align: center;
    margin-bottom: 60px;
}

.pagination>.active>span{
    background-color: #2B2B2B;
    border-color: #2B2B2B;
}

@media (min-width: 992px){
        #myrow{
        margin-left: 0px;
        margin-right: 0px;
    }
}

@media (max-width: 768px){
    #myrow{
        margin-left: 0px;
        margin-right: 0px;
    }
}

.mycol{
    padding-left: 0px;
    padding-right: 0px;
}

#mysubmit{
    float: right;
    background-color: #eee;
    border: 1px solid #ccc;
}


#my_month_ul{
    padding-left: 0;
}

#my_month_ul li{
    background-color: #eee;
    list-style: none;
}

/* 小标题居中 */
h3{
    text-align: center;
}

/* 给手机页面设置字体格式 */
@media (max-width: 768px){
    /* 博文内容段落 */
    .blog-post .blog-post-text p{
        font-size: 14px;
    }

    /* 小标题 */
    h3{
        font-size: 16px;
        text-align: center;
    }

    /* 博文信息字样 */
    .blog-post .post-meta{
        font-size: 11px;
    }

    /* 大标题 */
    .blog-post .blog-post-body h2{
        font-size: 22px;
    }

    /* 博主简介预览段落 */
    .widget-about p{
        font-size: 15px;
    }

    /* 最近时间列表文字 */
    #my_month_ul li a{
        font-size: 15px;
        color: #5e5e5e;
    }

    /* 博文预览段落 */
    .blog-post .blog-post-body p{
        font-size: 14px;
    }

    /* 滑动图片上的字样 */
    .main-slider h2{
        font-size: 18px;
        padding: 10px 10px;
        background-color: rgba(0, 0, 0, 0.17);
    }

}

@media (min-width: 992px){
    /* 最近时间列表文字 */
    #my_month_ul li a{
        font-size: 15px;
    }

    /* 博主简介预览段落 */
    .widget-about p{
        font-size: 14px;
    }
}