<!DOCTYPE html>
<html lang="ch">
{include file="static/model/admin_head.html"/} {load href="/static/js/jquery.min.js,/static/js/bootstrap.min.js"/}

<body>
    <!-- 添加导航栏 -->
    {include file="static/model/admin_nav.html"/}
    <!-- 内容 -->
    <div class="container-fluid content_body">
        <br/>
        <br/>
        <br/>
        <ol class="breadcrumb">
            <li class="active">根</li>
            <li>
                <a href="/admin/overview/year.html">年</a>
            </li>
            <li>
                <a href="/admin/overview/month.html">月</a>
            </li>
            <li>
                <a href="/admin/overview/day.html">日</a>
            </li>
        </ol>
        <div class="row">
            <div class="col-md-9">
                <div class="panel panel-default">
                    <!-- Default panel contents -->
                    <div class="panel-heading">
                        <h4>{$title}</h4>
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item">
                            <h5>汇总：</h5>
                            <table class="table table-bordered">
                                <tbody>
                                    <tr>
                                        <td>访问次数：</td>
                                        <td>{$summa.total_visit_count}次</td>
                                    </tr>
                                    <tr>
                                        <td>博文阅览篇数：</td>
                                        <td>{$summa.total_post_read_count}篇</td>
                                    </tr>
                                    <tr>
                                        <td>博主介绍点击数：</td>
                                        <td>{$summa.total_introduction_click_count}次</td>
                                    </tr>
                                </tbody>
                            </table>
                        </li>
                        <li class="list-group-item">
                            <h5>博文点击量排行：</h5>
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>序号</th>
                                        <th>博文标题</th>
                                        <th>点击数</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {volist name="click_posts" id="click_post"}
                                    <tr name="">
                                        <th scope="row">{$key+1}</th>
                                        <td>{$click_post.title}</td>
                                        <td>{$click_post.click_count}</td>
                                    </tr>
                                    {/volist}
                                </tbody>
                            </table>
                            <div class="row">
                                <div class="col-12">
                                    <a href="/admin/overview/more_click_posts.html?type=root" style="float: right;;margin-right: 15px;">
                                        <span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>更多
                                    </a>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <h5>访问记录：</h5>
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>序号</th>
                                        <th>访客ip</th>
                                        <th>时间</th>
                                        <th>阅读简介</th>
                                        <th>阅读博文数</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {volist name="visit_records" id="visit_record"}
                                    <tr>
                                        <th scope="row">{$key+1}</th>
                                        <td>{$visit_record.ip|long2ip}</td>
                                        <td>{$visit_record.visit_time}</td>
                                        <td>{switch name="visit_record.visit_author"} {case value="1"}是{/case} {case value="0"}否{/case}
                                            {/switch}
                                        </td>
                                        <td>
                                            <a class="get_visit_posts" href="/admin/overview/visit_posts.html?visit_id={$visit_record.id}">{$visit_record.visit_posts_count}</a>
                                        </td>
                                    </tr>
                                    {/volist}
                                </tbody>
                            </table>
                            <div class="row">
                                <div class="col-12">
                                    <a href="/admin/overview/more_visit_records.html?type=root" style="float: right;margin-right: 15px;">
                                        <span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>更多
                                    </a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3">
                <div class="panel panel-default">
                    <!-- Default panel contents -->
                    <div class="panel-heading">
                        <h4>往日访问记录</h4>
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item">
                        </li>
                        <li class="list-group-item">
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <script>
        //给阅读博文篇数字样设置点击事件监听
        $(".get_visit_posts").each(function () {
            $(this).click(function (event) {
                event.preventDefault();
                var url = $(this).attr("href");
                $.get(url, function (data) {
                    alert(data);
                })
            });
        });
    </script>
</body>

</html>